
.home-promise{
    background-color: #F6F5F5;
    font-family: "Roboto";
    color: #005EB8;
    text-align: center;
}
.home-title{
    background-color: #eae9e7;
    font-size: large;
    font-weight: bolder;
}