.profile {
  background-color: white;
  font-family: "Roboto";
}

.header {
  padding: 1em;
  background-color: #0275D8;
  margin-bottom: 1em;
}
.home-header{
  /* background: url(./homeheader.png) no-repeat;
  height: 280px;  
 background-size:contain;
 background-repeat:no-repeat;
 background-position:center; */
 text-align: center;
}
.home-header-image{
  max-width: 100%;
  height: auto;
  text-align: center;
}



