.records-found {
    font-family: "Roboto";
   color:  #4E4444;
   font-size: large;
   font-weight: bolder;
}

.filter-header {
padding: .5em;
color: white;
background-color: #009DD9;
font-family: "Roboto";
font-size: x-large;
}
.filter{
    padding: .5em;
    color: #005EB8;
    background-color: #F6F5F5;
    font-family: "Roboto";
}

.filter-container{
    margin-bottom: 30px;
}
.filter-detail{
    padding: .5em;
}
.label-orange{
    color: #FF7802;
    font-weight: bolder;
}
.cheapest-label{
    color: #005EB8;
    font-family: "Roboto";
    font-size: small;    
    font-weight: bolder;
    font-style: italic;
}
 .ui-slider .ui-slider-range{
    background-color: #FF7802;;
 }
.label-range-cost{
    font-family: "Roboto";
}
.label-range-cost-bottom{
    font-size: small;  
    font-family: "Roboto";  
}

.range-slider-container{
    margin-bottom: 12px;
}

@media (max-width: 40em) {
    .hotel-details {
        text-align:center;
    }
    .left-panel{
        display: none;
    }
}

.p-autocomplete{
    width: 100%;
  }


/* data list */
.data-list-view{
    color: #005EB8;
    font-family: "Roboto";  
}
.hotel-row {
    border-bottom: 1px solid #d9d9d9;
} 
.hotel-name{
    font-size:   1.25rem;
    font-size: large;
    font-weight: bolder;
}
.hotel-location{
   border-bottom:  solid 1px #CCC;
   margin-left: 6px;
}
.hotel-rating{
    color:#009DD9;
    font-weight: 600;
}
.hotel-reviews{
    font-size:   .75em;  
}

.thumbnail{
    /* height:280px; */
}
    
.thumbnail-image{
    text-align: center;
}  

.hotel-amount{
    color: #333;
    text-align: right;
}
.hotel-amount-price{
    color: #FF7802;
    font-size: large;
    font-weight: bolder;
    line-height: 0.1;
}
.hotel-amount-container{
    display: table-cell;
    padding-left: 16px;
    padding-bottom: 16px;
    vertical-align: bottom;
    border-left: solid 1px #E2E2E2;
}

.error-message{
    color: #fc2929 !important;
}
.label-uset-rating-reset{
    color:#0267bf;; 
    font-size: small;  
    font-family: "Roboto";  
}