
<div class="ui-g home-promise">
    <div class="ui-g-12 ui-lg-4 ">
        <p class="home-title">
          ATOL Protected
        </p>
        <label>
            We promise you the lowest prices
        </label>
    </div>    
    <div class="ui-g-12 ui-lg-4">
        <p class="home-title">
          Lowest Price Guaranteed
        </p>
        <label>
            Your holiday is safe with us
        </label>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <p class="home-title">
          Flexible Payments
        </p>
        <label>
            Spread the cost at no extra cost
        </label>
    </div>
</div>