body {
  background-color: #D9E0E7 !important;
  margin: 0;
  font-size: 1em !important;
}

.ui-panel-titlebar {
  background-color: #2F8EE5 !important;
  color: white !important;
}

.ui-menu {
  width: 100% !important;
  margin: 0 !important;
  border: none !important;
  background-color: #2D353C !important;
}

.ui-menuitem-text {
  color: white !important;
}

.ui-menuitem-icon {
  color: white !important;
  font-size: large !important;
  margin-right: 1em;
}

.menu-selected {
  background-color: #F15B2A !important;
  color: #ffffff;
}
.ui-slider .ui-slider-range{
  background-color: #FF7802!important;
}
.ui-slider-horizontal {
    height: .3em !important;
    cursor: text;
}
.ui-slider-handle {
    top: -.3em !important;
}
.ui-slider .ui-slider-handle {
    width: .8em !important;
    height: .8em !important;
    cursor: pointer;
}
.ui-rating a {
    color: #F7C815 !important;
    text-decoration: none;
}
.text-nowrap{
  width: 100px;
  display: block;
  float: left;
  white-space: nowrap;
}

.label-user-rating-reset {
    color: #0267bf;
    font-size: small;
    font-family: "Roboto";
    cursor: pointer;
}

.disabled {
    color: grey !important;
    cursor: none !important;
    pointer-events: none !important;
    text-decoration: none !important;
}

/*p-rating.disable-star1 div.ui-rating a:first-child + a {
    color: grey !important;
    pointer-events: none !important;
    text-decoration: none !important;
}

p-rating.disable-star2 div.ui-rating a:first-child + a ,
p-rating.disable-star2 div.ui-rating a:first-child + a + a {
    color: grey !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.disable-star3 div.ui-rating a:first-child + a,
p-rating.disable-star3 div.ui-rating a:first-child + a + a,
p-rating.disable-star3 div.ui-rating a:first-child + a + a + a {
    color: grey !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.disable-star4 div.ui-rating a:first-child + a,
p-rating.disable-star4 div.ui-rating a:first-child + a + a,
p-rating.disable-star4 div.ui-rating a:first-child + a + a + a,
p-rating.disable-star4 div.ui-rating a:first-child + a + a + a + a {
    color: grey !important;
    pointer-events: none !important;
    text-decoration: none !important;
}*/
p-rating.disable-star1 div.ui-rating a:nth-child(2) {
    color: darkgray !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.disable-star2 div.ui-rating a:nth-child(n+2):nth-child(-n+2) {
    color: darkgray !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.disable-star3 div.ui-rating a:nth-child(n+2):nth-child(-n+3) {
    color: darkgray !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.disable-star4 div.ui-rating a:nth-child(n+2):nth-child(-n+4) {
    color: darkgray !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.disable-star5 div.ui-rating a:nth-child(-n+1) {
    color: darkgray !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
p-rating.noreset div.ui-rating a:first-child {
    color: darkgray !important;
    pointer-events: none !important;
    text-decoration: none !important;
}
