<div *ngIf="searchFlow == searchFlowEnum.HOME" class="ui-g">
    <div class="ui-g-12 animated fadeIn">
        <div class="home-header">
            <img class="home-header-image" src="assets/images/homeheader.png">
        </div>
    </div>
</div>
<div class="profile header ui-g">
    <div class="ui-g-12 ui-md-8 ui-lg-9 ">
        <p-autoComplete [(ngModel)]="searchName" [suggestions]="searchSuggestions"
                        (completeMethod)="getSuggestions($event)"
                        (onSelect)="search()"
                        placeholder="Find Cheap Hotels here"
                        [disabled]="searchFlow == searchFlowEnum.SEARCHING"
                        [minLength]="1" [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"
            class="p-autocomplete" ></p-autoComplete>

    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-3">
        <div [ngSwitch]="searchFlow">
            <button *ngSwitchCase="searchFlowEnum.HOME" pButton type="button" (click)="search()" icon="fa-search-plus" label="Search Now"
                class="ui-g-12 ui-button-warning" item-width="100%"></button>
            <button *ngSwitchCase="searchFlowEnum.SEARCHING" pButton type="button" icon="fa-refresh" (click)="restartSearch()" label="Restart"
                class="ui-g-12 ui-button-warning" item-width="100%"></button>
        </div>
    </div>
</div>
<div [ngSwitch]="searchFlow">
    <div *ngSwitchCase="searchFlowEnum.HOME">
        <div class="animated fadeIn">
            <app-search-home></app-search-home>
        </div>
    </div>
    <div *ngSwitchCase="searchFlowEnum.SEARCHING">
        <app-busy-indicator [isBusy]="isBusy" title="Searching.."></app-busy-indicator>
        <app-search-results [(searchName)]="searchName" [(isStartSearch)]="isStartSearch" [(isBusy)]="isBusy" (restartSearch)="restartSearch()"></app-search-results>
    </div>
</div>
